.button {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px 20px;
  color: var(--mainColor);
  background-color: var(--normalColor);
  font-weight: 600;
  font-size: 0.8rem;

}
.button:hover {
  cursor: pointer;
}
